.header {
  background-color: #23748f;
  display: flex;
  flex-direction: column;
}

.main__img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.logo {
  align-content: flex-start;
  display: flex;
  margin: 0;
}

.logo img {
  height: 40px;
}

.h1,
.p {
  margin: 15px;
  padding: 5px;
}

.p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  padding: 5px;
}

.footer {
  clear: right;
  font-size: 70%;
  margin: 30px 10px 30px;
  text-align: center;
}

.main__ul {
  list-style-type: disc;
  margin: 10px;
  padding: 15px;
}

.h2 {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
