.header {
  background-color: #23748f;
  display: flex;
  flex-direction: column;
}

.logo {
  align-content: flex-start;
  display: flex;
  margin: 0;
}

.logo img {
  height: 40px;
}

.h1,
.p {
  margin: 15px;
  padding: 5px;
}

.p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  padding: 5px;
}

.footer {
  clear: right;
  font-size: 70%;
  text-align: center;
}
