* {
  margin: 0;
  padding: 0;
}

.html {
  background-color: lightblue;
}

.body {
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  background-color: #23748f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.logo {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.logo img {
  height: 40px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 0;
  }
}

.h1, .p {
  margin: 15px;
  padding: 5px;
}

.h2 {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.p {
  font-family: "Sagoe Ui", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  padding: 5px;
}

.footer {
  clear: right;
  font-size: 70%;
  margin: 30px 10px 30px;
  text-align: center;
}

.main {
  margin: 0 20px;
}

.main ul {
  list-style-type: disc;
  margin-left: 30px;
  padding: 15px;
}

.grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "aside" "main" "footer";
  -ms-grid-columns: ([col] auto)[1];
      grid-template-columns: repeat(1, [col] auto);
  -ms-grid-rows: ([row] auto)[2];
      grid-template-rows: repeat(2, [row] auto);
}

.grid header {
  background-color: #23748f;
  border-bottom: solid 2px black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  text-align: center;
}

.grid header h1 {
  color: white;
  margin: 5px;
}

.grid main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

.grid aside {
  background-color: #23748f;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  text-align: center;
}

.grid aside h2 {
  margin: 10px;
}

.grid footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

@media screen and (min-width: 1000px) {
  .grid {
        grid-template-areas: 'header header' 'aside main' 'footer footer';
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: minmax(60px, auto) minmax(86vh, auto) minmax(80px, auto);
        grid-template-rows: minmax(60px, auto) minmax(86vh, auto) minmax(80px, auto);
  }
  .grid footer {
    background-color: #23748f;
    margin: 0;
    padding: 10px;
  }
}

.sub-grid {
  display: -ms-grid;
  display: grid;
  grid-column: col 3 / span 2;
  grid-gap: 15px;
  grid-row: row 2;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
}

.sub-grid .fig {
  background-color: #23748f;
  border: solid 3px black;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.sub-grid .fig img {
  border-bottom: solid 3px black;
  width: 100%;
}

.sub-grid .fig figcaption {
  padding-bottom: 5px;
}

.nav {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5px;
  }
}

.ul__li {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  text-align: center;
}

.ul__li:hover .ul__ul,
.ul__li:focus .ul__ul {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media screen and (min-width: 768px) {
  .ul__li {
    margin: 5px 25px;
    padding: 5px;
  }
  .ul__li:hover .ul__ul,
  .ul__li:focus .ul__ul {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .ul__li:hover, .ul__li:focus {
    background-color: #dadbdf;
  }
}

.nav--toggle {
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 5px;
}

@media screen and (min-width: 768px) {
  .nav--toggle {
    visibility: hidden;
  }
}

.nav__ul {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 30px;
  }
}

.active {
  display: block;
}

.ul__ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightblue;
  -webkit-box-shadow: 0 3px 7px 0 #5f5d5d;
          box-shadow: 0 3px 7px 0 #5f5d5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  padding: 5px;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

@media screen and (min-width: 768px) {
  .ul__ul {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: lightblue;
    -webkit-box-shadow: 0 3px 7px 0 #5f5d5d;
            box-shadow: 0 3px 7px 0 #5f5d5d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 12px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    right: 175px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
}

.main__form {
  margin: 50px;
}

.main__form h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.container {
  border: 3px solid #23748f;
  border-radius: 25px;
  margin: auto;
  padding: 25px;
  width: 500px;
}

input,
textarea {
  border: 1px solid #999;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2em;
  margin: 10px;
  resize: vertical;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: black;
}

button {
  background-color: #23748f;
  border-color: #002447;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

label {
  font-weight: 700;
  padding: 10px;
}

.div__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=styles.css.map */