// ==========================================================================
// = Global Variables
// ==========================================================================

// Descriptive colors:
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;
$dark-blue:  #23748f;
$light-blue: lightblue;

// Main color palette
$color-background: $light-blue;
$color-header: $dark-blue;

// Common colors
$color-text-alt: white;

// Links
$color-hover: $iron;

// Messages
$color-message: #f4ecbb;
$color-success: #2cde2c;
$color-warning: #cf8600;
$color-important: #d00;
$color-notice: #66b;

// Base Sizes
// ==========

// Base font size in used in _mixins.scss
// Included shorthands as these may be used a lot.

$base-font-size: 16;
$base-line-height: 24;
$base-fs: $base-font-size;
$base-lh: $base-line-height;

// Fonts and Weights
// ============
$font-primary: "Josefin Sans", sans-serif;
$font-para: "Sagoe Ui", Tahoma, Geneva, Verdana, sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

// Breakpoints
// ===========

$mobile-small: 240;
$mobile-large: 320;
$tablet-small: 480;
$tablet-large: 768;
$screen-small: 1024;
$screen-large: 1280;
